

// Process Parameters:

// Process Parameters for Filter_Seurat_Object_Markdown:
params.Filter_Seurat_Object_Markdown.minUMI =  "100"  //* @input @label:"Min Transcripts"  @description:"Cutoff for minimum number of unique transcript molecules in a cell"
params.Filter_Seurat_Object_Markdown.maxUMI =  "10000"  //* @input @label:"Max Transcripts"  @description:"Cutoff for maximum number of unique transcript molecules in a cell"
params.Filter_Seurat_Object_Markdown.nFeature_RNA =  "100"  //* @input @description:"Cutoff removing cells that have fewer genes than entered value"
params.Filter_Seurat_Object_Markdown.mitoRatio =  "10"  //* @input @description:"Cutoff removing the cells have higher percentage than entered value"

// Process Parameters for Normalization_and_Feature_Selection:
params.Normalization_and_Feature_Selection.varFeatures =  "3000"  //* @input @label:"# of Variable Features" @description:"Use this many features as variable features after ranking by residual variance; default is 3000"
params.Normalization_and_Feature_Selection.n_genes =  "2000"   //* @input @label:"# of genes" @description:"Number of genes to use when estimating parameters (default uses 2000 genes, set to NULL to use all genes)"
params.Normalization_and_Feature_Selection.normMethod =  "LogNormalize"   //* @dropdown @options:"LogNormalize","CLR","RC","SCT" @label:"Normalization Method" @description:"Name of normalization method used: LogNormalize, CLR, RC, SCT"
params.Normalization_and_Feature_Selection.selmethod =  "vst"   //* @dropdown @options:"vst","mean.var.plot","dispersion" @label:"Selection Method" @description:"Method to choose top variable features"

// Pipeline Config:
$HOSTNAME='default'
